{% extends 'layout.html' %}


{% block banner %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">

        {% for image in restaurant.images.all %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}"
                aria-label="Slide 1" class="{{forloop.counter0|index_class}} {{forloop.counter0}}"
                aria-current="true"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner" style="max-height: 600px;">

        {% for image in restaurant.images.all %}
        <div class="carousel-item {{forloop.counter0|index_class}} {{forloop.counter0}}">
            <img src="{{image.image.url}}" class="d-block w-100" alt="...">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <h4>{{restaurant.name}}</h4>
            <small id="address">{{restaurant.address}}</small>
            <p class="mt-2">{{restaurant.description}}</p>
            {% if request.user.is_authenticated %}
            <p><strong>Make a reservation</strong></p>

            {% else %}
            <p><strong>Login or register to make a reservation</strong></p>
            <a href="/login" class="btn btn-site-primary">Login</a><a href="/register" class="btn btn-site-secondary">Register</a>
            {% endif %}
        </div>
        <div class="col col-md-6">
            <div id="map" style="min-height: 600px"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "AIzaSyB4uZ8LPjnn_laLqTtRM4V0IjkiR57uTx0",
        // Add other bootstrap parameters as needed, using camel case.
        // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
    });
</script>
<script type="application/javascript">
    let geocoder, map;

    async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");
        geocoder = new google.maps.Geocoder();
        const address = document.getElementById("address").innerText;
        geocoder.geocode({
            'address': address
        }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var myOptions = {
                    zoom: 12,
                    center: results[0].geometry.location,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                map = new Map(document.getElementById("map"), myOptions);

                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            }
        });
    }

    initMap();
</script>
{% endblock %}